.card-hover:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Increase the box-shadow */
  transform: translateY(-10px); /* Increase the translateY */
  transition: all 0.3s ease;
}



/* Reduce size of carousel control buttons */
.carousel-control-prev, .carousel-control-next {
  /* font-size: 1rem; Adjust as needed */
  width: 90px; /* Adjust width */
  height: 90px; /* Adjust height */
  background-color: white;
}

/* Increase size of carousel control icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 80px;
  filter: invert(100%);
  
}

.fontIcon{
  height: 50px;
  width: 50px;
  border-radius: 15px;
}


/* Optional: Adjust position of control buttons */
.carousel-control-prev {
  left: 100px; /*Adjust left position */
}

.carousel-control-next {
  right: 100px; 
}


/* Indicators */

.carousel-indicators {
  filter: invert(100%);
  bottom: -60px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}