.assessmentCreatorBody {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  padding: 0;
  /* align-items: center; */
  justify-content: center;
}

.heading {
  margin-top: 3%;
  display: flex;
  padding: 0;
  justify-content: center;
}

.top {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column; /* Align children vertically */
  max-width: 99%;
  padding: 20px;
  }

.first {
  display: flex;
  flex-direction: column; /* Align the text-label pairs vertically */
  width: 100%;
  align-items: start; /* Align items to the start of the container */
}

.Text {
  display: flex; /* Enable flex layout */
  align-items: center; /* Align items vertically */
  width: 100%; /* Full width to fit the parent container */
  margin-bottom: 10px; /* Add some space between the two text-label pairs */
}

.top label {
  min-width: 40%; /* Ensure all labels have the same width for alignment */
  margin-right: 10px; /* Space between label and input */
}

.top input[type="text"],
.top select {
  background-color: white;
  margin: 2px;
  height: 40px;
  /* padding: 10px; */
  
  max-width: 400px;
  width: calc(100% - 200px); /* Adjust width considering label and spacing */
  text-align: center;
}

.top input[type="text"]:hover,
.top select:hover {
  border: 2px solid darkblue;
}

/* Add responsiveness for smaller devices */
@media (max-width: 768px) {
  .first {
    width: 100%; /* Adjust width for smaller screens */
  }

  .top label {
    min-width: auto; /* Allow labels to fit content width */
    width: 30%; /* Adjust label width on smaller screens for consistency */
  }

  .top input[type="text"],
  .top select {
    width: 70%; /* Adjust input/select width to fill remaining space */
  }
}
